[submodule "HiggsAnalysis/CombinedLimit"]
	path = HiggsAnalysis/CombinedLimit
	url = git@github.com:tomfournier/HiggsAnalysis-CombinedLimit.git


[submodule "FCCAnalyses"]
	path = FCCAnalyses
	url = git@github.com:tomfournier/FCCAnalyses.git
	branch = pre-edm4hep1
