[submodule "HiggsAnalysis/CombinedLimit"]
	path = HiggsAnalysis/CombinedLimit
	url = git@github.com:tomfournier/HiggsAnalysis-CombinedLimit.git


[submodule "FCCAnalyses"]
	path = FCCAnalyses
	url = git@github.com:tomfournier/FCCAnalyses.git
	branch = pre-edm4hep1


[submodule "HiggsAnalysis/Combined_tf"]
	path = HiggsAnalysis/Combined_tf
	url = git@github.com:tomfournier/Combine_tf.git