[submodule "HiggsAnalysis/CombinedLimit"]
	path = HiggsAnalysis/CombinedLimit
	url = https://github.com/cms-analysis/HiggsAnalysis-CombinedLimit.git


[submodule "FCCAnalyses"]
	path = FCCAnalyses
	url = git@github.com:HEP-FCC/FCCAnalyses.git
	branch = pre-edm4hep1
